/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";

.item-level-0{
  margin-left: 5px;
}
.item-level-1{
  margin-left: 10px;
}
.item-level-2{
  margin-left: 15px;
}
.item-level-3{
  margin-left: 20px;
}
.item-level-4{
  margin-left: 25px;
}